@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
*{
  box-sizing: border-box;
  letter-spacing: 2px;
  font-family: 'Nanum Brush Script', cursive;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to bottom, #222a42, #232a43);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
