@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
  box-sizing: border-box;
  letter-spacing: 2px;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
